.containerHome {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
    gap: 2rem;
}
.dashboard{
    padding: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.dashboard h1{
    padding-top: 2rem;
}
.agend{
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
    gap: 2rem;
}