.containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* height: 70%; */
    border-radius: 1rem;
    gap: 1rem;
    transition: 0.5s;
    padding: 5rem 3vw;
    justify-content: center;
    background-color: #99afbd;
    background: rgba(18, 40, 66, 0.274);
    box-shadow: 0 8px 32px 0 rgba(49, 49, 49, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(234, 241, 248, 0.18)
}
.title{
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
    background: url(../../assets/fundo.avif);
    /* background: url(); */
    background-repeat: no-repeat;
    background-size: 150%;
    height: 100vh;
    color: #FFF;
}
.text{
    text-align: left;
    width: 78%;
    font-weight: 600;
    margin-bottom: -1rem;
}
.btnLogin{
    border: none;
    background-color: #f0f0f0e7;
    color: #242424;
    padding: 0.8rem 3rem;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: .5rem;
    font-weight: 700;
    margin-top: 3rem;
    transition: .5s;
}
.btnLogin:hover{
    opacity: 0.8;
}
.container span{
    bottom: 0;
    position: fixed;
    margin-bottom: 3vh;
    opacity: 0.8;
}
.container a{
    cursor: pointer;
    transition: 0.5s;
}
.container a:hover{
    text-decoration: underline;
    opacity: 0.8;
}