.title{
    padding: 2rem;
}
.containerAgend{
    display: grid;
    max-width: 100%;
    grid-template-columns: 3rem 30vw 65vw;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}
.listDoctors{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    gap: 0.5rem;
    margin-left: 10px;
}
.agendList{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
}