.containerHeader {
    background-color: #131313;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}
.containerHeader h1{
    color: #ffffffe7;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}
.containerHeader img{
    max-width: 30px;
}
.userImage{
    width: 30px;
    height: 30px;
    padding: 0.5rem;
    margin: 0.5rem;
    align-self: flex-end;
    background-color: #363636;
    border-radius: 100%;
    cursor: pointer;
}
