.title{
    padding: 2rem 0rem;
    width: 100%;
}
.containerAgend{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    overflow: hidden;
}
.agendListContainer{
    max-height: 50rem;
    overflow-y: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 70%;
    padding: 0rem 2rem;
    margin: 2rem 0rem;
}
.listDoctors{
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    gap: 0.5rem;
    width: 30%;
    margin-left: 10px;
}