.containerHeader {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px;
}
.containerHeader h1{
    margin-left: 20px;
    color: #ffffffe7;
}
.userImage{
    width: 35px;
    height: 35px;
    padding: 10px;
    align-self: flex-end;
    background-color: #363636;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 81%;
}
