@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.modal {
    padding: 2rem 5rem;
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: solid 2px;
    border-color: #696969f3;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 31px 31px 61px #ededed,
        -31px -31px 61px #ffffff;

}

.modal input {
    width: 100%;
}

.formModal {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.modalBtn {
    border: none;
    padding: 0.7rem 2rem;
    /* border-radius: 5px; */
    color: #ffff;
    background-color: black;
    cursor: pointer;
}

.subtitle {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.closeBtn {
    border: none;
    right: 1rem;
    top: 1rem;
    position: fixed;
    cursor: pointer;
    background: none;
}
.btnAgend{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9b9b9b;
    padding: 0.7rem 1.8rem;
    margin: 1rem 0rem;
    width: 15%;
    border: none;
    border-radius: 5px;
    color: #FFFF;
    gap: 0.5rem;
    cursor: pointer;
  
  }
  
  .btnAgend:hover {
    opacity: 0.5;
  }

.agendList {
    max-height: 50rem;
    overflow-y: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 95%;
    gap: 1rem;
    padding: 0rem;
    margin: 2rem 0rem;
}

.consultaItem {
    background-color: #ededed;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* border-radius: 5px; */
}

.agendList::-webkit-scrollbar {
    width: 10px;
}

.consTitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.date,
.hour {
    font-size: 1rem;
}

.userImageList {
    width: 15px;
    height: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
    align-self: flex-end;
    background-color: #b3b3b3;
    border-radius: 100%;
    cursor: pointer;
}