.searchContainer{
    display: flex;
    flex-direction: row;
}
.searchContainer img{
    width: 30px;
    background-color: #f5f5f5f8;
    padding: 10px;
    margin-left: 0;
}
.searchBar{
    border: none;
    padding: 1rem;
    width: 60%;
    font-size: 17px;
    background-color: #f5f5f5f8;
}
