:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #111111e7;
  background-color: #FFFF;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar{
  background-color: #d1d1d19c;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #9b9b9b;
}
*{
  margin: 0px;
  padding: 0px;
};
a{
  text-decoration: none;
}
a:hover{
  transition: 0.5s;
}