.containerHome {
    display: grid;
    max-width: 100%;
    /* grid-template-columns: 3rem 75vw 20vw; */
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}
.dashboard{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
}
.dashboard h1{
    padding-top: 2rem;
}
.agend{
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
    gap: 2rem;
}